.bottom_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 110;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 15px 0;
}
.bottom_bar .bottom_bar__action {
  display: block;
  padding: 0 15px;
  border-radius: 99px;
  background-color: #30c27c;
  color: #fff;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  text-decoration: none;
}
