.mod_twocol_list {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.mod_twocol_list > h2 {
  font-size: 16px;
  color: #000;
  margin-bottom: 11px;
  font-weight: 400;
}
.mod_twocol_list > ul {
  overflow: hidden;
  margin-right: -8px;
}
.mod_twocol_list > ul > li {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  padding-right: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
.mod_twocol_list > ul > li > a {
  display: block;
  background: #fff;
}
.mod_twocol_list > ul > li > a .list_media {
  position: relative;
  margin-bottom: 5px;
}
.mod_twocol_list > ul > li > a .list_media::after {
  content: "";
  display: block;
  padding-top: 100%;
}
.mod_twocol_list > ul > li > a .list_media > img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 1;
}
.mod_twocol_list > ul > li > a .list_media > span {
  height: 24px;
  bottom: 5px;
  right: 5px;
  width: 24px;
  background-position: 0 0;
  background-image: url(https://y.gtimg.cn/mediastyle/mobile/yqq_v5/img/list_sprite.png?max_age=2592000&v=bf901360b97d78b972786e4e8ece5218);
  background-repeat: no-repeat;
  background-size: 24px 60px;
  position: absolute;
  display: block;
  z-index: 10;
}
.mod_twocol_list > ul > li > a .list_info {
  padding: 0 7px 5px;
  color: #000;
}
.mod_twocol_list > ul > li > a .list_info > h3 {
  height: 36px;
  line-height: 18px;
  white-space: normal;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
}
